.vertical-nav ul {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  list-style: none;
  z-index: 50;
  width: 300px;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.vertical-nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
}

.vertical-nav ul li a:hover {
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.2s, color 0.2s;
  /* transition: 1s ease-in-out; */
}
.vertical-nav ul li {
  margin: 10px;
  padding: 5px;
}
.vert-names {
  padding: 5px;
}

.horizontal-container {
  margin-left: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horizontal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}
.main-container {
  margin-left: 300px;
  padding: 50px 20px;
}

.search-content input {
  display: block;
  border: none;
  outline: none;
  height: 3vh;
  padding: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  cursor: pointer;
}
.search-input {
  padding: 5px;
}

.admin-grp {
  display: flex;
  align-items: center;
}
.admin-name {
  margin-right: 3px;
}

.right-content {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.admin-logo {
  display: flex;
  margin-right: 3px;
}

.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham {
  display: flex;
  padding: 10px;
  color: var(--primary-color);
}
.date {
  padding: 10px;
  opacity: 0.7;
}
