.main-dashboard {
  /* border: 5px solid green; */
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDash-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  /* border: 5px solid red; */
}

.dash-card {
  /* border: 1px solid blue; */
  /* width: 300px; */
  /* height: 200px; */
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.dash-card p {
  /* opacity: 0.5; */
}

.short-num {
  font-size: 5em;
}
.short-desc {
  font-size: 2em;
}

.red {
  background-color: red;
  box-shadow: 0 2px px rgba(0, 0, 0, 0.1);
}
.yellow {
  background-color: yellow;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.blue {
  background-color: blue;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.pink {
  background-color: brown;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar-container {
  margin: 50px 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--blocks);
}

.upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.calendar-wrapper {
  padding: 20px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-group {
  border-left: 3px solid var(--primary-color);
  margin: 10px;
  padding: 10px;
}
